nav{
    background : rgb(207, 144, 26);
    height: 120px;
    width: 100%;
}
label.logo{

    font-size: 35px;
    margin: 600px ;
    margin: 600px;

    line-height: 50px;

}
p1{


    margin-left: 560px;
}
p2{


    margin-left: 565px;

}
p3{


    margin-left: 565px;

}