<!DOCTYPE html>
<html style="background:orange;">
    <head>


    <title>
        azul
    </title>
     <meta name="viewport" content="width = divice-width, initial-scale = 1.0">

     <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@600&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="/static/azul.css">
        <style>
            body{
                font-family: 'Josefin Slab', serif;
            }
        </style>

    </head>

    <body>
        <h1 style="color:blue"> AZUL </h1>
        <div>
            <p style="float: left; padding-right: 10px;"><img src="/static/azul.jpg" height="250" width="250"></p>
             <div style="float: right;margin-right: 100px; margin-top: -30px;" class="row">
            <img  src="/static/azul1.jpg" width="200" height="200">
            <img src="/static/azul2.jpg" width="200" height="200">
            </div>
            <div style="float: right; margin-top: 180px; margin-right: -405px;"  class="row">
                <img src="/static/azul3.jpg" width="200" height="200">
                <img src="/static/azul5.jpg" width="200" height="200">

            </div>

            <br>

            <p style="color:white;"> Disigners : Micheal kiesling<br>
            <br><br>publisher : plan B games<br>
            <br><br>players : 2-4<br>
            <br><br>playing time : 30 - 45 minutes<br>
            <br><br>Game type : strategy,Family<br><br><br><br><br>
        </p>

        </div>

        <h1> ABOUT GAME :</h1>

        <p style="float:left; font-size: larger;"> Azul (Portuguese for blue) is an abstract strategy board game designed by Michael Kiesling and released by Plan B Games in 2017. Based on Portuguese tiles called azulejos<br>
            , in Azul players collect sets of similarly colored tiles which they place on their player board. When a row is filled, one of the tiles is moved into a square pattern on the right side of the player board, where it garners points depending on where it is placed in relation to other tiles on the board.</p>

        <h1> AWARDS :</h1>
        <p> 1.2018 Spiel des Jahres award<br><br>
            2.2018 Origins Award for Best Family Game and Fan Favorite<br><br>
            3.2018 Dice Tower Award for Best Family Game<br><br>
            4.2018 As d'Or – Jeu de l'Année Winner<br><br>
            5.2018 Mensa Select Certification<br><br>
            6.2017 Meeples' Choice Nominee<br><br>
            7.2017 Cardboard Republic Architect Laurel Winner<br><br>
            8.2017 Golden Geek Best Family Game of the Year<br><br>
            9.2017 Golden Geek Board Game of the Year Runner-up<br><br>

        <h1> How to play : </h1>
        <p> if you want to see the Tutorial of the game click <a href="https://www.youtube.com/watch?v=csJL-78NEPQ&t=339s">here</a>
        </p>
        <p> if you want to download the Rule Book of the game click <a href="https://tesera.ru/images/items/1108676/EN-Azul-Rules.pdf"> here </a>
        </p>
        <p>if you want to see a fully gameplay from this boardgame click <a href="https://www.youtube.com/watch?v=V1oekseTbCQ"> here </a> </p>


                  <nav style="color:white;">
            <label  class="logo" >END </label>
            <p1>Disigner : Amirali Parizi<br><br></p1>
            <p2>Thanks to CS50X Iran</p2>

        </nav>

    </body>
</html>