<!DOCTYPE html>
<html style="background:rgba(158, 56, 56, 0.575);">
    <head>


    <title>
        chinatown
    </title>
             <meta name="viewport" content="width = divice-width, initial-scale = 1.0">

     <link rel="stylesheet" href="/static/chinatown.css">

     <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@600&display=swap" rel="stylesheet">
        <style>
            body{
                font-family: 'Josefin Slab', serif;
            }
        </style>
    </head>

    <body>
        <h1 style="color:goldenrod"> Chinatown </h1>
        <div>
            <p style="float: left; padding-right: 10px;"><img src="/static/chinatown.jpg" height="280" width="200"></p>
            <div style="float: right;margin-right: 100px; margin-top: -30px;" class="row">
            <img  src="/static/chinatown1.jpg" width="200" height="200">
            <img src="/static/chinatown2.jpg" width="200" height="200">
            </div>
            <div style="float: right; margin-top: 180px; margin-right: -405px;"  class="row">
                <img src="/static/chinatown3.jpg" width="200" height="200">
                <img src="/static/chinatown4.jpg" width="200" height="200">

            </div>


            <br>

            <p style="color:white;"> Disigners : Kartsen Hartwig<br>
            <br><br>publisher : Z-MAN games<br>
            <br><br>players : 3-5<br>
            <br><br>playing time : 90-120 minutes<br>
            <br><br>Game type : Strategy, Family,economy<br><br><br><br><br>
        </p>

        </div>

        <h1> ABOUT GAME :</h1>

        <p style="float:left; font-size: larger;">To make it in Chinatown, pursue the properties that will benefit you the most. Constructing jewelry stores, restaurants, factories, and other buildings provide you with income at the start of each of the game’s six rounds. But to maximize this income, you'll have to build shops of the same type in adjacent buildings. Use Shop tiles and building cards as bargaining chips to swing deals and take over the properties you need. Negotiate with two players at once; intervene in any negotiation you want; trade buildings, Shop tiles, or money in any combination. Everything is open to trade. Whoever strikes the best deals and earns the most money by the end of the game is the winner!</p>

        <h1> AWARDS :</h1>
        <p> 2008 Årets Spill Best Family Game Nominee<br><br>

            2000 International Gamers Awards - General Strategy; Multi-player Nominee<br><br>

            1999 Spiel des Jahres Recommended<br><br>

        <h1> How to play : </h1>
        <p> if you want to see the Tutorial of the game click <a href="https://www.youtube.com/watch?v=sID9zTlnjj4">here</a>
        </p>
        <p> if you want to download the Rule Book of the game click <a href="https://images.zmangames.com/filer_public/01/bf/01bfdafd-99f7-4cb0-b14d-2e5914854027/zm7044_chinatown_rules.pdf"> here </a>
        </p>
        <p>if you want to see a fully gameplay from this boardgame click <a href="https://www.youtube.com/watch?v=l63IFC1Q_DE"> here </a> </p>


          <nav>
            <label  class="logo" >END </label>
            <p1>Disigner : Amirali Parizi<br><br></p1>
            <p2>Thanks to CS50X Iran</p2>

        </nav>




    </body>
</html>