<!DOCTYPE html>
<html style="background:#ffff0070;">
    <head>


    <title>
        DIXIT
    </title>
             <meta name="viewport" content="width = divice-width, initial-scale = 1.0">

    <link rel="stylesheet" href="/static/dixit.css">

     <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@600&display=swap" rel="stylesheet">
        <style>
            body{
                font-family: 'Josefin Slab', serif;
            }
        </style>
    </head>

    <body>
        <h1 style="color: orange;"> DIXIT </h1>
        <div>
            <p style="float: left; padding-right: 10px;"><img src="/static/dixit.jpg" height="250" width="250"></p>
             <div style="float: right;margin-right: 100px; margin-top: -30px;" class="row">
            <img  src="/static/dixit1.jpg" width="200" height="200">
            <img src="/static/dixit2.jpg" width="200" height="200">
            </div>
            <div style="float: right; margin-top: 180px; margin-right: -405px;"  class="row">
                <img src="/static/dixit3.jpg" width="200" height="200">
                <img src="/static/dixit4.jpg" width="200" height="200">

            </div>

            <br>

            <p style="color:orange;"> Disigners : jean-louis Roubira<br>
            <br><br>publisher : Libellud<br>
            <br><br>players : 3-6<br>
            <br><br>playing time : 30 - 45 minutes<br>
            <br><br>Game type :Family,party game<br><br><br><br><br>
        </p>

        </div>

        <h1> ABOUT GAME :</h1>

        <p style="float:left; font-size: larger;">Dixit (Latin: dixit, Latin pronunciation: [ˈdiːksit], "he/she/it said"), is a French card game created by Jean-Louis Roubira, illustrated by Marie Cardouat, and published by Libellud. Using a deck of cards illustrated with dreamlike images, players select cards that match a title suggested by the "storyteller", and attempt to guess which card the "storyteller" selected. The game was introduced in 2008. Dixit won the 2010 Spiel des Jahres award</p>

        <h1> AWARDS :</h1>
        <p> 2009 As d'Or – Jeu de l'Année Winner<br><br>
            2009 Juego del Año Winner<br><br>
            2009 Lys Grand Public Winner<br><br>
            2010 Games Magazine Best New Party Game of the Year Award Winner<br><br>
            2010 Spiel Des Jahres Winner<br><br>
            2010 Vuoden Peli Family Game of the Year Winner<br><br>
            2010 Hungarian Board Game Award Winner<br><br>
            2010 Hra roku Winner<br><br>
            2011 Ludoteca Ideale Official Selection Winner<br><br></p>
        <h1> How to play : </h1>
        <p> if you want to see the Tutorial of the game click <a href="https://www.youtube.com/watch?v=LFsiBbopszI">here</a>
        </p>
        <p> if you want to download the Rule Book of the game click <a href="https://ndsslibraryblog.files.wordpress.com/2015/12/dixit-rules-english.pdf"> here </a>
        </p>
        <p>if you want to see a fully gameplay from this boardgame click <a href="https://www.youtube.com/watch?v=WIAhfDkJMhA"> here </a> </p>


         <nav>
            <label  class="logo" >END </label>
            <p1>Disigner : Amirali Parizi<br><br></p1>
            <p2>Thanks to CS50X Iran</p2>

        </nav>




    </body>
</html>







