<!DOCTYPE html>
<html>
    <head>
        <title>
            main
        </title>
         <meta name="viewport" content="width = divice-width, initial-scale = 1.0">
         <link rel="stylesheet" href="/static/main.css">


        <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@600&display=swap" rel="stylesheet">
        <style>
            body{
                font-family: 'Josefin Slab', serif;
            }
        </style>
    </head>
    <body bgcolor="#FFEBCD">
                <h1  style="color: rgb(93,138,168); font-size: 30px;">
                    welcome, {{ name }}
                <br><br><br>

                </h1>





       <nav>
            <label class="logo">Top ten</label>
            <ul>
                <li><a href="#">Games</a></li>
                <li><a href="https://www.boardgamequest.com/top-10-board-game-designers/">Disigners</a></li>
                <li><a href="https://en.wikipedia.org/wiki/List_of_Game_of_the_Year_awards_(board_games)">awards</a></li>
                <li><a href="#">contact us</a></li>

            </ul>
        </nav>
        <h1>1.splendor</h1>


<img src="/static/sp.jpg" width="200" height="300">
        <br>
        <p>
            you invest in mines as a jewelry group
            you send your sheeps to new lands.the best artists
            hire and build a new empire to meet the opportunity to meet<br>
            the kings to get the goddeship and credit.....
        </p>



        </p>
        <form action="/splendor" method="GET">
            <input type="submit" value="learn more">

        </form>
       <h1>2.AZUL</h1>
        <img src="/static/azul.jpg" width="250" height="250">
        <br>

        <p>
            Azullus invites you to decorater the walls of the royal palace in Evora with magnificent tiles.<br>
            the oroginally wide-blazed ceramic tiles called azulejos were once introduced by the Moors.<br>
            The portuguese made them all to themselves after their KIng Manuel L. was overwhelmed by the<br>
            beauty of the ornate tiles during a visit to the Alhambra in southern Spain. Solort he instructed<br>
            his servents to decorate the walls of his own palace in portugal with tiles......

        </p>
        <form action="/azul" method="GET">
        <input type="submit" value="learn more">
        </form>

        <h1>3.SAGRADA</h1>
        <img src="/static/sagrada.jpg" height="300" width="200">
        <br>
        <p>
            On 19 March 1882, construction of the Sagrada Família began under architect Francisco de Paula del Villar. In 1883,<br>
            when Villar resigned, Gaudí took over as chief architect, transforming the project with his architectural and engineering<br>
            style, combining Gothic and curvilinear Art Nouveau forms. Gaudí devoted the remainder of his life to the project, and he<br>
            is buried in the crypt. At the time of his death in 1926, less than a quarter of the project was complete.
        </p>
        <form action="/sagrada" method="GET">
        <input type="submit" value="learn more">
        </form>


        <h1>4.DIXIT</h1>
        <img src="/static/dixit.jpg" height="250" width="250">
        <br>
        <p>
            Every picture tells a story – but what story will your picture tell? A award winning family board game where imagination rules<br>
            In dixit city the king send his soldiers to bring his servents to revell the secret behind his dreams in the last 1 month.<br>
            But at the morning kings soldiers cant find the servent so king arranges a contest so he could find his own new servent<br>
            so let the game began......
        </p>
        <form action="/dixit" method="GET">
        <input type="submit" value="learn more">
        </form>
        <h1> 5.Cash and Guns</h1>
        <img src="/static/cg.jpg" height="250" width="250">
        <br>
        <p>
            In an abandoned warehouse a gangster band is splitting its loot, but they can’t agree on the split! It’s time<br>
            to let the guns talk and soon everyone is aiming at everyone. The richest surviving gangster wins the<br>
            game!
        </p>
        <form action="/cashandguns" method="GET">
        <input type="submit" value="learn more">
        </form>
        <h1> 6.Chinatown </h1>
        <img src="/static/chinatown.jpg" height="300" width="200">
        <br>
        <p>
            Welcome to 1960s New York. A new immigration act triggers a demographic boom, and a wave of Chinese immigrants moves into Chinatown.<br>
            Hard-working men and women arrive by the thousands to build a new life in the New World.<br>
            now we will have an 8 year contest to see wich immigrants will survive in New York</p>
        </p>
        <form action="/chinatown" method="GET">
        <input type="submit" value="learn more">
        </form>

        <h1>7.Quadropolis</h1>
        <img src="/static/quadropolis.jpg" height="250" width="250">
        <br>
        <p>
            After a hard day’s work, you take a break to admire your city through the large windows of your office… at this hour, most of your citizens are going back<br>
            home, heading for the tall buildings that you see in front of you. Some others are still wandering in the parks and gardens with their kids, and others decided<br>
            to go shopping in the new mall that you opened a few weeks ago. In the distance, near the harbor, you can see smoke rising from factories’ chimneys. Somehow,<br>
            the city never sleeps…


        </p>
        <form action="/quadropolis" method="GET">
        <input type="submit" value="learn more">
        </form>
        <h1>8.Tzaar</h1>
        <img src="/static/tzaar.jpg" height="250" width="250">
        <br>
        <p>TZAAR is a game about making choices. Both players have 30 pieces divided into three types: 6 Tzaars, 9 Tzarras, and 15 Totts. The three types of pieces form a trinity: They cannot exist without each other. The aim is either to make the opponent run out of one of the three types of pieces or to put him in a position in which he cannot capture anymore.</p>

        <form action="/tzaar" method="GET">
        <input type="submit" value="learn more">
        </form>

        <h1>9.Raiders of the north sea</h1>
        <img src="/static/raiders.jpg" height="250" width="250">
        <br>
        <p>
            Raiders of the North Sea is set in the central years of the Viking Age. As Viking warriors, players seek to impress the Chieftain by raiding unsuspecting settlements. Players will need to assemble a crew, collect provisions and journey north to plunder gold, iron and livestock. There is glory to be found in battle, even at the hands of the Valkyrie. So gather your warriors, it’s raiding season!


        </p>
        <form action="/raiders" method="GET">
        <input type="submit" value="learn more">
        </form>

         <h1>10.Pandemic</h1>
        <img src="/static/pandemic.jpg" height="300" width="200">
        <br>
        <p>
            Pandemic is a cooperative board game designed by Matt Leacock and first published by Z-Man Games in the United States in 2008.[1] Pandemic is based on the premise that four diseases have broken out in the world, each threatening to wipe out a region. The game accommodates two to four players, each playing one of seven possible roles: dispatcher, medic, scientist, researcher, operations expert, contingency planner, or quarantine specialist. Through the combined effort of all the players, the goal is to discover all four cures before any of several game-losing conditions are reached.


        </p>
        <form action="/pandemic" method="GET">
        <input type="submit" value="learn more">
        </form>









    </body>
</html>